= simple_form_for(@recipe) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = render partial: 'tags_input', locals: {context: :tech, options: tech_tags, f: f}
    = render partial: 'tags_input', locals: {context: :purposes, options: purpose_tags, f: f}

  .form-actions
    = f.button :submit
