- provide :page_title, localized_model_string('record.index', Recipe, count: 2, taxonomy: @taxonomy.to_s.singularize)
%section#recipes
  %header
    %h1= yield :page_title
  - @tags.each do |tag|
    %section{id: tag.name.parameterize('_'), class: 'tag_section'}
      %h1= tag.name.titleize
      - tag.taggings.each do |tagging|
        - recipe = tagging.taggable
        %article.recipe
          %h2= link_to recipe.name, recipe
          .row
            .small-7.columns.description
              = truncate(strip_tags(recipe.description), length: 300, escape: false, omission: read_more(recipe))
            .small-5.columns.contact
              = render partial: 'contact', locals: {recipe: recipe}

          - if params[:admin]
            .row.actions
              = link_to 'Edit', edit_recipe_path(recipe)
              = link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'}
