- provide :page_title, localized_model_string('record.index', Recipe, count: 2, taxonomy: @taxonomy.to_s.singularize)
%section#recipes
  %header
    %h1= yield :page_title
  - @tags.each do |tag|
    %section{id: tag.name.parameterize('_'), class: 'tag'}
      %h1= tag.name.titleize
      - tag.taggings.each do |tagging|
        - recipe = tagging.taggable
        %article.recipe
          %h2= link_to recipe.name, recipe
          .row
            .small-7.columns.description
              = truncate(sanitize(recipe.description), length: 300, escape: false, omission: read_more(recipe))
            .small-5.columns.contact
              %strong= Contact.model_name.human
              - contact = recipe.contacts.first
              - if contact
                %ul.small-block-grid-2
                  - if contact.country.present?
                    %li
                      %span{class: "fi-general-globe", title: "Country"}
                      %span{title: contact.country_name}= contact.country
                  - contact_options(contact).each do |option, icon_name, link_text, link_target|
                    %li
                      %span{class: icon_name, title: option.to_s.humanize}
                      = link_to(link_text, link_target)
              - else
                %p
                  = t('no_contact')

          - if params[:admin]
            .row.actions
              = link_to 'Edit', edit_recipe_path(recipe)
              = link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'}
