%header
  = link_to 'New Recipe', new_recipe_path

%section#recipes
  - @recipes.each do |recipe|
    %article
      %h2= link_to recipe.name, recipe
      .description= recipe.description
      .actions
        = link_to 'Edit', edit_recipe_path(recipe)
        = link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'}




