%header
  = link_to 'Group by tech', recipes_path
  |
  = link_to 'Group by purpose', recipes_path(taxonomy: :purposes)
  |
  = link_to 'New Recipe', new_recipe_path

%section#recipes
  - @tags.each do |tag|
    %section{id: tag.name.parameterize('_'), class: 'tag'}
      %h1= tag.name.titleize
      - tag.taggings.each do |tagging|
        - recipe = tagging.taggable
        %article.recipe
          %h2= link_to recipe.name, recipe
          .description= recipe.description
          .actions
            = link_to 'Edit', edit_recipe_path(recipe)
            = link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'}
