%h1 Listing recipes
%header
  = link_to 'New Recipe', new_recipe_path

%section#recipes
  - @recipes.each do |recipe|
    %article
      %h2= link_to recipe.name, recipe
      .description= recipe.description
      %td= link_to 'Edit', edit_recipe_path(recipe)
      %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }




