- provide :page_title, localized_model_string('record.index', Recipe, count: 2, taxonomy: @taxonomy.to_s.singularize)
%section#recipes
  %header
    %h1= yield :page_title
  - @tags.each do |tag|
    %section{id: tag.name.parameterize('_'), class: 'tag'}
      %h1= tag.name.titleize
      - tag.taggings.each do |tagging|
        - recipe = tagging.taggable
        %article.recipe
          %h2= link_to recipe.name, recipe
          .row
            .small-7.columns.description= truncate(recipe.description, length: 300, omission: '... (read more)')
            .small-5.columns.contact
              %strong= Contact.model_name.human
              - contact = recipe.contacts.first
              - if contact
                %dl
                  %dt= Recipe.human_attribute_name('name')
                  %dd= contact.name
                  %dt= Recipe.human_attribute_name('twitter_handle')
                  %dd= contact.name
          - if params[:admin]
            .row.actions
              = link_to 'Edit', edit_recipe_path(recipe)
              = link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'}
