%h1 Listing recipes

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.name
      %td= recipe.description
      %td= link_to 'Show', recipe
      %td= link_to 'Edit', edit_recipe_path(recipe)
      %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
