%header#main_header.row
  .small-8.columns
    %nav
      = link_to 'List by tech', recipes_path
      |
      = link_to 'List by purpose', recipes_path(taxonomy: :purposes)
      - if action_name == 'index'
        |
        = link_to 'New Recipe', new_recipe_path
      - elsif action_name == 'edit'
        |
        = link_to 'Show', @recipe
      - elsif action_name == 'show' && params[:admin] # user mgmt will follow
        |
        = link_to 'Edit', edit_recipe_path(@recipe)
    %form
      .row.collapse
        .small-9.columns
          = text_field_tag 'search', nil, placeholder: 'Not implemented: Enter tech or purpose tags...'
        .small-1.columns.end
          %span.postfix.fi-general-search

  %span#logo.small-4.columns
    %img{src: image_path('logo.png'), title: "the code for the planet logo"}
